body {
	background-image: url("img/grass.jpg");
	color: white;
}
.row {
	background-color: white;
	color: black;
	padding: 5px;
	margin: 5px;
}
.topnav {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	margin: 5px;
}
.search {
	padding: 5px;
	margin: 5px
}
.title {
	padding: 5px;
	margin: 5px
}
.nav {
	padding: 5px;
	margin: 5px;
}
li {
	padding: 5px;
	margin: 5px;
}
.footer {
	text-align: center;
	padding: 5px;
	margin: 5px;
}
a {
	color: yellow;
}